<div class="mat-elevation-z8">
  <div style="width: 100%; position: relative;">
    <div style="margin-left: 20px; margin-top: 10px; display: inline-block; width: 50%;">
      <mat-form-field style="width: 100%;">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input name="search">
      </mat-form-field>
    </div>
  
    <a routerLink="/add"  style="right: 0; padding: 20px 20px 20px 20px; position: absolute;">
      <button mat-raised-button color="primary">
        Add new car number
      </button>
    </a>
  </div>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 50]">
  </mat-paginator>

  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="carNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Car number plate</th>
      <td mat-cell *matCellDef="let row">{{row.carNumber}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner name</th>
      <td mat-cell *matCellDef="let row">{{row.owner}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon svgIcon="edit" aria-hidden="false" [routerLink]="['/edit/', row.id]" style="color: blue;"></mat-icon>
        <mat-icon svgIcon="delete" aria-hidden="false" (click) = "deleteCarNumberPlate(row)"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
